#profile_picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 486px;
    height: 486px;
}

#name {
    text-align: center;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

#status {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

#email {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 30px;
}

#links {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center;
}

#email_logo {
    /*margin: auto;*/
    padding-top: 4px;
    width: 30px;
    height: 19.5px;
}

#cv_logo {
    /*margin: auto;*/
    padding-top: 3px;
    width: 35.475px;
    height: 20.625px;
}

#linkedin_logo {
    /*margin: auto;*/
    width: 33.375px;
    height: 31.5px;
}

#googlescholar_logo {
    /*margin: auto;*/
    width: 29.7px;
    height: 32.175px;
}

#github_logo {
    /*margin: auto;*/
    width: 28.5px;
    height: 28.5px;
}

#papers {
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.paper {
    padding-bottom: 15px;
}

.paper:hover .paper-name {
    color: #D3D3D3;
}

.paper:hover .paper-conference {
    color: #DCDCDC;
}

.paper-name {
    font-weight: bold;
    font-size: 24px;
    color: black;
}

.paper-conference {
    font-size: 18px;
    color: grey;
}

a {
  text-decoration: none;
}
