@media screen and (max-width: 519px) {
    #small-screen-author-list {
        display: block;
    }
    #large-screen-author-list {
        display: none;
    }
}

@media screen and (min-width: 520px) {
    #small-screen-author-list {
        display: none;
    }
    #large-screen-author-list {
        display: block;
    }
}

.profile-with-name {
    display: flex;
    align-items: center; /* This will vertically center align the text with the image */
    margin-left: 1px;
    margin-top: -2.5px;
    margin-bottom: -2.5px;
    text-decoration: none;
}

.profile-picture {
    border-radius: 50%; /* Makes the image round */
    width: 40px;
    height: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6); /* Shadow effect */
    margin-right: 9px;
    background-color: rgba(0, 0, 0, 0.3);
}

.name-text {
    font-size: 20px; /* Adjusted font size */
    color: #333; /* Dark gray color for a subtle look */
    font-family: 'Arial', sans-serif; /* Modern and clean font */
    font-weight: normal; /* Regular font weight for simplicity */
    letter-spacing: normal; /* Standard letter spacing */
    transition: color 0.25s ease-in-out; /* Smooth transition for the effect */
    
}

.profile-with-name:hover .name-text {
    color: #666; /* Color change on hover */
}

#hr-menu {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    height: 1px;
    background-color: #DDDDDD;
    border: none;
    position: absolute;
    left: 0;
    right: 0;
}

#blog_post_name {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    max-width: 720px;
    color: #333366;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 29px;
}

#paper-links {
    margin-top: 5px;
    text-align: center;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.paper-link {
    transition: color 0.25s ease-in-out; /* Smooth transition for the effect */
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    font-size: 26px;
    color: #006699; /* Medium Blue */
    font-weight: bold;
}

.paper-link-td:hover .paper-link {
    color: #0099cc;
}

.paper-link-vert-bar {
    position: relative; /* Needed for absolute positioning of the pseudo-element */
    padding-right: 17px;
}

.paper-link-vert-bar::after {
    content: '';
    position: absolute;
    right: 0; /* Align the pseudo-element to the right edge of the td */
    top: 50%; /* Align the top edge of the pseudo-element to the vertical middle of the td */
    width: 2px; /* Width of the vertical bar */
    height: 70%; /* Height of the vertical bar (50% of the td height in this case) */
    background-color: #006699; /* Color of the vertical bar */
    border-radius: 1px; /* Roundness of the ends of the vertical bar */
    transform: translateY(-50%); /* Center the bar vertically */
}

.paper-link-pad-left {
    padding-left: 15px;
}

#blog_post {
    margin-top: 40px;
    text-align: left;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    max-width: 720px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4;
    margin-bottom: 80px;
}

#section_title, #subsection_title {
    font-family: 'Montserrat', sans-serif;
    color: #333366;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 10px;
}

#section_title {
    font-size: 33px;
}

#subsection_title {
    font-size: 30px;
}

.in-text-paper-link {
    transition: color 0.25s ease-in-out; /* Smooth transition for the effect */
    text-decoration: none;
    color: #006699; /* Medium Blue */
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

.in-text-paper-link-container:hover .in-text-paper-link {
    color: #0099cc;
}

.orange-text {
    color: #ff9800;
}

.blue-text {
    color: #007fff;
}

#slide7 {
    width: 100%;
    position: absolute;
    top: -0.22%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 106%;
    object-fit: cover;
}

#slide7-container {
    display: block;
    width: 100%; /* Ensures the container takes the full width of its parent */
    position: relative;
    overflow: hidden; /* Hides the overflowing part of the image */
    padding-top: 63.8%;
}

#slide8 {
    width: 100%;
    position: absolute;
    top: -6.8%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 109.2%;
    object-fit: cover;
}

#slide8-container {
    display: block;
    width: 100%; /* Ensures the container takes the full width of its parent */
    position: relative;
    overflow: hidden; /* Hides the overflowing part of the image */
    padding-top: 61.8%;
}

#slide9 {
    width: 100%;
    position: absolute;
    top: -101%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 307%;
    object-fit: cover;
}

#slide9-container {
    display: block;
    width: 100%; /* Ensures the container takes the full width of its parent */
    position: relative;
    overflow: hidden; /* Hides the overflowing part of the image */
    padding-top: 22%;
}

#slide10 {
    width: 100%;
    position: absolute;
    top: -24%;
    left: 0.1%;
    right: 0;
    bottom: 0;
    height: 139%;
    object-fit: cover;
}

#slide10-container {
    display: block;
    width: 100%; /* Ensures the container takes the full width of its parent */
    position: relative;
    overflow: hidden; /* Hides the overflowing part of the image */
    padding-top: 52.6%;
}

#slide11 {
    width: 100%;
    position: absolute;
    top: -2.3%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 101%;
    object-fit: cover;
}

#slide11-container {
    display: block;
    width: 100%; /* Ensures the container takes the full width of its parent */
    position: relative;
    overflow: hidden; /* Hides the overflowing part of the image */
    padding-top: 35.5%;
}

#slide12 {
    width: 100%;
    position: absolute;
    top: -1%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    object-fit: cover;
}

#slide12-container {
    display: block;
    width: 100%; /* Ensures the container takes the full width of its parent */
    position: relative;
    overflow: hidden; /* Hides the overflowing part of the image */
    padding-top: 43.7%;
}

#slide13 {
    width: 100%;
    position: absolute;
    top: -2%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    object-fit: cover;
}

#slide13-container {
    display: block;
    width: 100%; /* Ensures the container takes the full width of its parent */
    position: relative;
    overflow: hidden; /* Hides the overflowing part of the image */
    padding-top: 46%;
}

#slide15 {
    width: 100%;
    position: absolute;
    top: -1%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}

#slide15-container {
    display: block;
    width: 100%; /* Ensures the container takes the full width of its parent */
    position: relative;
    overflow: hidden; /* Hides the overflowing part of the image */
    padding-top: 64.4%;
}

#slide16top {
    width: 100%;
    position: absolute;
    top: -39%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 180%;
    object-fit: cover;
}

#slide16top-container {
    display: block;
    width: 100%; /* Ensures the container takes the full width of its parent */
    position: relative;
    overflow: hidden; /* Hides the overflowing part of the image */
    padding-top: 47.1%;
}

#slide16bot {
    width: 100%;
    position: absolute;
    top: -32.8%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 167%;
    object-fit: cover;
}

#slide16bot-container {
    display: block;
    width: 100%; /* Ensures the container takes the full width of its parent */
    position: relative;
    overflow: hidden; /* Hides the overflowing part of the image */
    padding-top: 50.6%;
}

#slide17, #slide18 {
    width: 100%;
    position: absolute;
    top: 0.1%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 95.7%;
    object-fit: cover;
}

#slide17 {
    opacity: 1;
}

#slide18 {
    animation: alternateImage 8s infinite;
    opacity: 0;
}

@keyframes alternateImage {
    0%, 35% {
        opacity: 0;
    }
    35%, 39% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    65%, 100% {
        opacity: 0;
    }
}

#slide17-18-container {
    display: block;
    width: 100%; /* Ensures the container takes the full width of its parent */
    position: relative;
    overflow: hidden; /* Hides the overflowing part of the image */
    padding-top: 64.7%;
}

#slide20top {
    width: 100%;
    position: absolute;
    top: 0.5%;
    left: -0.5%;
    right: 0;
    bottom: 0;
    height: 100%;
    object-fit: cover;
}

#slide20top-container {
    display: block;
    width: 100%; /* Ensures the container takes the full width of its parent */
    position: relative;
    overflow: hidden; /* Hides the overflowing part of the image */
    padding-top: 34.8%;
}

#slide20bot {
    width: 100%;
    position: absolute;
    top: -5.9%;
    left: -0.5%;
    right: 0;
    bottom: 0;
    height: 100%;
    object-fit: cover;
}

#slide20bot-container {
    display: block;
    width: 100%; /* Ensures the container takes the full width of its parent */
    position: relative;
    overflow: hidden; /* Hides the overflowing part of the image */
    padding-top: 34.8%;
}

#slide21 {
    width: 100%;
    position: absolute;
    top: -0.7%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    object-fit: cover;
}

#slide21-container {
    display: block;
    width: 100%; /* Ensures the container takes the full width of its parent */
    position: relative;
    overflow: hidden; /* Hides the overflowing part of the image */
    padding-top: 48.6%;
}

#slide19 {
    width: 100%;
    position: absolute;
    top: 4.23%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 91%;
    object-fit: cover;
}

#slide19-container {
    display: block;
    width: 100%; /* Ensures the container takes the full width of its parent */
    position: relative;
    overflow: hidden; /* Hides the overflowing part of the image */
    padding-top: 60.9%;
}

#slide22 {
    width: 100%;
    position: absolute;
    top: 3.2%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 94%;
    object-fit: cover;
}

#slide22-container {
    display: block;
    width: 100%; /* Ensures the container takes the full width of its parent */
    position: relative;
    overflow: hidden; /* Hides the overflowing part of the image */
    padding-top: 68.7%;
}

#slide24 {
    width: 100%;
    position: absolute;
    top: -41.5%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 187%;
    object-fit: cover;
}

#slide24-container {
    display: block;
    width: 100%; /* Ensures the container takes the full width of its parent */
    position: relative;
    overflow: hidden; /* Hides the overflowing part of the image */
    padding-top: 30.6%;
}

#slide27 {
    width: 100%;
    position: absolute;
    top: -5%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 120%;
    object-fit: cover;
}

#slide27-container {
    display: block;
    width: 100%; /* Ensures the container takes the full width of its parent */
    position: relative;
    overflow: hidden; /* Hides the overflowing part of the image */
    padding-top: 51.5%;
}

#slide29 {
    width: 100%;
    position: absolute;
    top: -74.5%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 252%;
    object-fit: cover;
}

#slide29-container {
    display: block;
    width: 100%; /* Ensures the container takes the full width of its parent */
    position: relative;
    overflow: hidden; /* Hides the overflowing part of the image */
    padding-top: 44.6%;
}

#slide30 {
    width: 100%;
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 91%;
    object-fit: cover;
}

#slide30-container {
    display: block;
    width: 100%; /* Ensures the container takes the full width of its parent */
    position: relative;
    overflow: hidden; /* Hides the overflowing part of the image */
    padding-top: 58%;
}

#slide31 {
    width: 100%;
    position: absolute;
    top: 6.1%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 90%;
    object-fit: cover;
}

#slide31-container {
    display: block;
    width: 100%; /* Ensures the container takes the full width of its parent */
    position: relative;
    overflow: hidden; /* Hides the overflowing part of the image */
    padding-top: 60.5%;
}

.slide33-34 {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide33-34 img {
    width: 100%;
    position: absolute;
    top: -0%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 99%;
    object-fit: cover;
}

#slide33 {
    opacity: 1; /* Start fully visible */
}

#slide33background {
    opacity: 1;
    z-index: 1; /* Below other images */
}

#slide33, #slide34 {
    z-index: 2; /* Above the background image */
}

#slide33-34-container {
    display: block;
    width: 100%; /* Ensures the container takes the full width of its parent */
    position: relative;
    overflow: hidden; /* Hides the overflowing part of the image */
    padding-top: 65.3%;
}

#small-author-list-row1, #small-author-list-row2, #small-author-list-row3, #large-author-list-row1, #large-author-list-row2 {
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#small-author-list-row1, #large-author-list-row1 {
    margin-top: 14px;
}

#small-author-gabriele {
    margin-right: 2%;
}

#small-author-prasanna {
    margin-right: 2%;
}

#large-author-gabriele {
    margin-right: 2%;
    margin-left: 1%;
}

#large-author-jerry {
    margin-right: 2%;
}

#large-author-shagun {
    margin-right: 2%;
}

#small-author-list-row2, #small-author-list-row2, #large-author-list-row2 {
    margin-top: 2px;
}

#author-link {
    color: #737373;
    text-decoration: none;
}

#author-link:hover {
    text-decoration: underline;
    color: #535353;
}

#license {
    font-size: 16px;
    margin-top: 40px;
}

#license-link {
    text-decoration: none;
    color: #ce4919;
}

#license-link:hover {
    text-decoration: underline;
    color: #333333;
}